@use "../util/breakpoints" as b;
@use "../util/functions" as f;
@use "../util/mixins" as m;
@use "../util/variables" as v;

.main {
  &__hero {
    @include b.breakpoint(medium) {}
  }

  &__hero_heading {
    color: var(--color-dark-blue);
    padding-bottom: f.rem(24);
  }

  &__hero_message {
    color: var(--color-dusty-chimney);
    padding-bottom: f.rem(24);
  }

  &__hero_button {
    @include m.button_two_idle;
  }

  &__hero_image {
    height: auto;
    max-inline-size: 100%;
    block-size: auto;

    @include b.breakpoint(medium) {
      border: 2px solid green;
    }
  }
}