@use "../util/breakpoints" as b;
@use "../util/functions" as f;
@use "../util/mixins" as m;
@use "../util/variables" as v;

.main {
  &__hero {
    @include b.breakpoint(medium) {
      display: flex;
    }
  }

  &__hero_top {
    @include b.breakpoint(medium) {
      flex-grow: 1;
    }
  }

  &__hero_bottom {
    @include b.breakpoint(medium) {}
  }

  &__hero_heading {
    color: var(--color-dark-blue);
    padding-bottom: f.rem(24);
  }

  &__hero_message {
    color: var(--color-dusty-chimney);
    padding-bottom: f.rem(24);
  }

  &__hero_button {
    @include m.button_two_idle;
  }

  &__hero_image {
    @include b.breakpoint(medium) {
      width: 100%;
      height: auto;
      position: relative;
      bottom: 100px;
      left: 180px;
    }
  }
}

//display: grid;
//grid-template-columns: auto 300px;