@use "../util/breakpoints" as b;
@use "../util/functions" as f;
@use "../util/mixins" as m;
@use "../util/variables" as v;

.main {
  &__hero {
    @include b.breakpoint(medium) {
      display: flex;
    }
  }

  &__hero_top {
    @include b.breakpoint(medium) {
      max-width: f.rem(420);
    }

    @include b.breakpoint(large) {
      max-width: f.rem(457);
    }
  }

  &__hero_bottom {
    @include b.breakpoint(medium) {}
  }

  &__hero_heading {
    color: var(--color-dark-blue);
    padding-bottom: f.rem(24);
  }

  &__hero_message {
    color: var(--color-dusty-chimney);
    padding-bottom: f.rem(24);
  }

  &__hero_button {
    @include m.button_two_idle;
  }

  &__hero_image {
    @include b.breakpoint(medium) {
      aspect-ratio: 16/9;
      //border: 4px solid salmon;
      width: f.rem(640);
      height: f.rem(640);
    }

    @include b.breakpoint(large) {
      width: f.rem(891);
      height: f.rem(836);
    }
  }

  &__hero_bottom &__hero_image {
    @include b.breakpoint(medium) {
      position: absolute;
      bottom: f.rem(450);
      left: f.rem(400);
    }

    @media screen and (min-width: f.em(820)) and (max-width: f.em(834)) {
      bottom: f.rem(600);
      left: f.rem(450);
    }

    @media screen and (min-width: f.em(800)) and (max-width: f.rem(800)) {
      bottom: f.rem(700);
      left: f.rem(450);
    }

    @include b.breakpoint(xlarge) {
      // bottom: 20px;
      // left: 650px;
      bottom: 200px;
      left: 800px;
    }
  }
}