:root {
  --color-steel-blue: hsl(234, 25%, 52%); //#666CA3
  --color-dark-blue: hsl(233, 54%, 16%); //#13183F
  --color-dusty-chimney: hsl(234, 10%, 56%); //#83869A
  --color-flamingo: hsl(341, 92%, 62%); //#F74780
  --color-poodle-skirt: hsl(341, 100%, 83%); //#FFA7C3
  --color-white: #FFFFFF;
}